.thanks {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-size: contain;
  z-index: 2;
  background-color: black;

  &::before {
    content: '';
    width: 100vw;
    height: 100vh;
    background-image: url('../../assets/forms/thanks-bg.png');
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1;
  }

  &__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    z-index: -1;
  }

  .account {
    &__border-top {
      width: 185px;
    }

    &__border-bottom {
      width: 185px;
    }

    &__text {
  
      &::before {
        left: 6px;
        top: -6px;

      }
  
      &::after {
        content: '';
        right: 7px;
        top: -6px;
      }
    }
  }

  .modal__heading {
    font-size: 22px;
    letter-spacing: 0.85px;
  }
}