.dropdown {
  background-color: #00000066;
  width: 145px;
  height: 153px;
  position: absolute;
  border-top: 1px solid #b2d0e080;
  top: 43px;
  // left: -25%;
  right: -21px;
  box-sizing: border-box;
  padding: 10px 0;

  &__item {
    display: flex;
    font-size: 12px;
    letter-spacing: 0.5px;
    text-transform: initial;
    line-height: 32px;
    align-items: center;
    opacity: 0.5;
    padding: 0 25px;
    font-family: 'Montserrat', sans-serif;
    color: white;

    &:hover {
      opacity: 1;
      background-color: #ffffff1a;
    }
  }

  &__icon {
    margin-right: 15px;
    width: 15px;
    height: 15px;
  }
}