.purchase-modal {
  background: black;
  width: 100%;
  height: 100%;

  &__title {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    position: absolute;
    top: 15px;
    left: 15px;
  }

  &__back {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #cec39d;
    position: absolute;
    top: 20px;
    right: 15px;
    cursor: pointer;
    z-index: 2;

    &:hover {
      transition: opacity 0.5s;
      opacity: 0.5;
    }
  }
}