.bundle-details {
  display: flex;
  width: 100%;

  &__image {
    img {
      width: 268px;
      height: 380px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    margin-left: 71px;

    &__heading {
      font-family: Montserrat;
      font-size: 28px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: 1.08px;
      color: #ffffff;
      margin-bottom: 0;
      text-transform: uppercase;
    }

    &__type {
      display: flex;
      align-items: center;

      &__subheading {
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.43;
        letter-spacing: 1.31px;
        color: #ffffff;
        text-transform: uppercase;
      }
    }

    &__text {
      width: 430px;
      font-family: Montserrat;
      font-size: 18px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.44;
      letter-spacing: normal;
      color: #ffffff;
    }

    &__items {
      display: flex;
      flex-direction: column;
      width: 500px;
      margin-top: 40px;

      &__images {
        display: flex;
        justify-content: space-between;

        img {
          width: 86px;
          height: 86px;
        }
      }
    }
  }
}


@media screen and (max-width: 950px) {
  .bundle-details {
    align-items: center;
    flex-direction: column;

    &__info {
      margin: 0;

      &__items {
        width: auto;
        margin-bottom: 20px;
      }
    }
  }
}

@media screen and (max-width: 445px){
  .bundle-details__info__items__images {
    flex-direction: column;
    align-items: center;
    height: 500px;
  }
}

@media screen and (max-width: 455px) {
  .bundle-details__info__text {
    width: auto;
  }
}