.bundle-included {
  background-color: black;
  padding-left: 92px;
  padding-right: 62px;
  background-image: url("../../assets/bundle-page/farion-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  &__heading {
    font-family: Montserrat;
    font-size: 28px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.08px;
    color: #ffffff;
    margin-top: 0;
  }

  &__dash {
    width: 99%;
    background: linear-gradient(to right, rgba(57, 78, 96, 0.2), #d4f0ff, rgba(57, 78, 96, 0.2));
    height: 1px;
    opacity: 0.5;
    margin-top: 70px;
  }
}

@media (max-width: 950px) {
  .bundle-included {
    padding-top: 50px;
  }
}

@media screen and (max-width: 800px) {
  .bundle-included {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 455px) {
  .bundle-included {
    padding-left: 3px;
    padding-right: 3px;
    text-align: center;
  }
}