.founder-list {
  display: flex;
  justify-content: space-around;
  margin-right: 50px;
  margin-left: 50px;
}

.founder-item {
  display: flex;
  flex-direction: column;
  width: 250px;

  &__header {
    background: linear-gradient(to bottom, #fcf7e9, #b8a978);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1px;
  }

  &__text {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.64;
    letter-spacing: normal;
    color: #ffffff;
  }

  span {
    font-weight: bold;
    color: #cec39d;
  }
}

@media screen and (max-width: 768px) {
  .founder-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }

  .founder-item {
    flex: 0 50%;
  }
}

@media screen and (max-width: 397px) {
  .founder-list {
    flex-wrap: initial;
    flex-direction: column;
  }
}