.pre-order {
  height: 700px;
  background-color: black;
  position: relative;
  //top: -130px;

  &__text {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: 1.31px;
    text-align: center;
    color: #ffffff;
  }
}