.pre-order {
  height: 765px;
  background-color: black;
  position: relative;
  //top: -130px;

  &__text {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    width: 32vw;

    &__wrapper {
      display: flex;
      justify-content: center;
    }

    &--bold {
      font-weight: bold;
    }
  }
}