.pre-order {
  padding-bottom: 120px;
  background-color: black;
  position: relative;
  //top: -130px;

  &__text {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    width: 32vw;

    &__wrapper {
      display: flex;
      justify-content: center;
    }

    &--bold {
      font-weight: bold;
      margin-left: 4px;
    }
  }
}

.pre-order__wrapper {
  z-index: 2;
  position: relative;
  top: -400px;
}

@media screen and (max-width: 768px) {
  .pre-order__text {
    width: 90vw;
  }
}

@media (max-width: 1322px) {
  .pre-order {
    height: auto;
  }
}

@media screen and (max-width: 375px) {
  .pre-order {
    padding-bottom: 0;
  }

  .pre-order__wrapper {
    top: 0;
  }
}