.bundle-header {
  background-color: black;
  display: flex;
  padding-top: 100px;
  padding-left: 92px;
  padding-right: 62px;

  background-image: url("../../assets/bundle-page/farion-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

@media screen and (max-width: 950px) {
  .bundle-header {
    align-items: center;
    padding-left: 0;
    padding-right: 0;
  }
}