.bundle-header {
  background-color: black;
  display: flex;
  padding-top: 150px;
  padding-left: 92px;
  padding-right: 62px;
}

.purchase__wrapper {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 950px) {
  .bundle-header {
    align-items: center;
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 425px) {
  .bundle-header {
    padding-top: 70px;
  }
}