.account {
  min-height: 970px;
  background-image: url('../../assets/images/baddies.png');
  background-position: center;
  background-size: cover;
  background-color: black;
  padding: 140px 0 80px;
  box-sizing: border-box;

  .account__heading {
    margin-bottom: 115px;
  }

  &__words {
    font-family: 'Montserrat', sans-serif;
    line-height: 20px;
    font-size: 14px;
    letter-spacing: 1.31px;
    text-transform: uppercase;
    color: white;
  }

  &__content {
    width: 453px;
    height: 270px;
    background-image: linear-gradient(#3b74acbf, #274f71bf);
    box-shadow: inset 0 1px 6px 0 #16354f;
    border-radius: 10px;
    position: relative;
    box-sizing: border-box;
    padding: 85px 30px 48px;

    &-border {
      padding: 2px;
      background-image: linear-gradient(#66a3e0bf, #3e729fbf);
      box-shadow: 0 2px 54px 0 rgba(0, 0, 0, 0.78);
      width: max-content;
      margin: auto;
      border-radius: 10px;
      margin-bottom: 20px;

      &:nth-child(3) {
        .account__content {
          justify-content: space-between;
        }
      }
    }

    &--medium {
      padding: 20px;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      height: max-content;

      .button {
        padding: 8px 37px;
      }

      img {
        margin-right: 15px;
        width: 15px;
        height: 15px;
      }
    }

    &--small {
      padding: 18px 20px;
      height: max-content;
    }
  }

  &__img {
    width: 91px;
    top: 21px;
    left: 10px;
    position: relative;

    &-border {
      background-image: linear-gradient(#66a3e0, #3e729f);
      border-radius: 50%;
      padding: 2px;
      box-shadow:  inset 0 1px 6px 0 #16354f;
      width: max-content;
      position: absolute;
      top: -23%;
      left: 50%;
      transform: translateX(-50%);
    }

    &-wrapper {
      border-radius: 50%;
      width: 110px;
      height: 110px;
      overflow: hidden;
      background-color: black;
      box-shadow: 0 2px 29px 0 rgba(0, 0, 0, 0.4);
    }
  }

  &__name {
    width: max-content;
    margin: auto;
    display: block;
    font-family: 'Montserrat', sans-serif;
    color: white;
    letter-spacing: 1.08px;
    font-size: 28px;
    font-weight: 600; 
    margin-bottom: 20px;
  }

  &__email {
    font-size: 16px;
    line-height: 23px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    color: white;

    &-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 30px;
    }

    &-change {
      color: #cec39d;
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 1.31px;
      text-transform: uppercase;
      cursor: pointer;

      &:hover {
        transition: opacity 0.5s;
        opacity: 0.5;
      }
    }
  }

  &__button {
    display: block;
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 0.42px;
  }

  &__logo {
    width: 166px;
    height: 136px;
    margin: auto;
    margin-bottom: 44px;
    display: block;
    margin-top: 80px;
  }

  &__btn {
    margin: auto;
  }

  &__verify {
    width: 492px;
    margin: auto;

    &-title {
      font-family: 'Montserrat', sans-serif;
      color: white;
      font-weight: 600;
      font-size: 22px;
      letter-spacing: 0.85px;
      margin: 0;
      margin-bottom: 20px;
      text-align: center;
    }

    &-text {
      text-align: center;
      font-family: 'Montserrat', sans-serif;
      font-weight: 200;
      font-size: 14px;
      line-height: 23px;
      color: white;
      margin: 0;
      margin-bottom: 37px;
      
      span {
        font-weight: 500;
        color: #cec39d;
        cursor: pointer;
        padding-bottom: 3px;
        border-bottom: 1px solid #cec39d;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .account {
    background-image: url('../../assets/responsive/baddies.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media screen and (max-width: 375px) {
  .account {
    background-image: url('../../assets/responsive-mob/baddies.png');
    
    &__verify {
      width: 346px;
    }

    &__heading {
      display: none;
    }

    &__name {
      margin-bottom: 15px;
    }

    &__content {
      width: 343px;
      height: 281px;
      padding: 75px 0 30px;

      &--medium {
        width: 343px;
        height: 145px;
        padding: 20px 0;
        flex-direction: column;
        
        .header__choice--active {
          font-size: 14px;
        }

        .button {
          padding: 8px 53px;
        }
      }

      &--small {
        padding: 18px 20px;
        height: max-content;
        display: flex;
        align-items: center;

        img {
          margin-right: 15px;
          width: 15px;
          height: 15px;
        }
      }
    }

    &__email-wrapper {
      flex-direction: column;
      height: 50px;
      justify-content: space-between;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}