.about {
  height: 1305px;
  // background-image: linear-gradient(to bottom, #000000, #465c60);
  background-image: linear-gradient(to bottom, #000000 26%, #37494b 117%);


  box-sizing: border-box;
  padding-top: 50px;
  // box-shadow: 7px 200px 54px 300px #465c60;
  // box-shadow: 7px 200px 54px 300px #37494b;
  box-shadow: 7px 200px 54px 300px #2d3b3d;
  position: relative;

  .about__heading {
    margin-bottom: 30px;
  }

  &__shadow {
    height: 0;
    width: 100%;
    position: absolute;
    top: -50px;
    background-color: transparent;
    z-index: 5;
    box-shadow: 7px 0 54px 60px #00000066;

  }

  &__content {
    max-width: 910px;
    margin: auto;
    text-align: center;
    position: relative;
    z-index: 10;
  }

  &__text {
    line-height: 30px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    margin: 0;
    color: white;
    margin-bottom: 72px;
  }

  &__video--wrapper {
    margin: auto;
    width: 990px;
    height: 556px;
    background-image: url('../../assets/images/tile-big.svg');
    position: relative;
    cursor: pointer;
    margin-bottom: 85px;
  }

  &__video {
    width: 930px;
    height: 520px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__video-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
}