.limited-edition__wrapper {
  background-color: #171327;
}

.limited-edition {
  height: 1001px;
  background-image: url("../../assets/bundle-page/3-heroes-main-min.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  //top: -175px;

  &__content {
    position: absolute;
    top: 660px;
    left: 0;
    right: 0;
    z-index: 1;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__text {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;

    &--light {
      font-weight: 300;
      margin-bottom: 40px;
    }
  }

  &__scroll {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100px;
    justify-content: space-evenly;

    img {
      cursor: pointer;
    }
  }
}

.dash {
  width: 99%;
  background: linear-gradient(to right, rgba(57, 78, 96, 0.2), #d4f0ff, rgba(57, 78, 96, 0.2));
  height: 1px;
  opacity: 0.5;
  margin-top: 66px;
}

@media (max-width: 1325px) {
  .limited-edition {
    height: 900px;
  }
}

@media (max-width: 1155px) {
  .limited-edition {
    //height: 700px;
    top: -80px;
    background-size: initial;
    background-position: top;
  }
}

@media (max-width: 965px) {
  .limited-edition {
    top: -60px;
  }
}

//@media (max-width: 823px) {
//  .limited-edition {
//    height: 600px;
//    top: -50px;
//  }
//
//  .limited-edition__content {
//    top: 378px;
//  }
//}

@media (max-width: 723px) {
  .limited-edition {
    top: -40px;
  }
}

@media (max-width: 652px) {
  .limited-edition {
    top: -30px;
  }

  .limited-edition__content {
    height: 290px;
  }
}

//@media screen and (max-width: 425px) {
//  .limited-edition {
//    top: 65px;
//    height: 550px;
//  }
//
//  .limited-edition__content {
//    top: 175px;
//  }
//}

@media screen and (max-width: 425px) {
  .limited-edition__scroll {
    display: none;
  }
}
