.bundles-item__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;

  button {
    display: flex;
    justify-content: space-around;
    width: 152px;
    height: 30px;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(51, 50, 45, 0.5);
    border-style: solid;
    border-width: 2px;
    border-image-source: linear-gradient(to bottom, #ffd665, #a14e11);
    border-image-slice: 1;
    background-image: linear-gradient(to bottom, #f5b72d, #ee871a), linear-gradient(to bottom, #ffd665, #a14e11);
    background-origin: border-box;
    cursor: pointer;

    span {
      text-shadow: 0 1px 7px rgba(140, 86, 43, 0.53);
      font-family: Montserrat;
      font-size: 12px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: 0.46px;
      text-align: center;
      color: #ffffff;
    }
  }

  &__dash {
    display: flex;
    &--dark {
      width: 0px;
      height: 29px;
      opacity: 0.8;
      border-style: solid;
      border-width: 0.5px;
      background: linear-gradient(to top, #a45213, rgba(164, 82, 19, 0.4));
      border-image-source: linear-gradient(to top, #a45213, rgba(164, 82, 19, 0.4));
      border-image-slice: 1;
    }

    &--light {
      width: 0px;
      height: 29px;
      opacity: 0.8;
      border-style: solid;
      border-width: 0.5px;
      border-image-source: linear-gradient(to top, #fbd062, rgba(255, 255, 255, 0.4));
      border-image-slice: 1;
    }
  }
}