.bundle-included__item {
  display: flex;
  width: 847px;
  height: 321px;

  &__img {
    width: 170px;
    height: 240px;
    margin-right: 57px;
    border-radius: 4px;
  }

  &__data {
    &__header {
      display: flex;
      align-items: center;
    }

    &__heading {
      font-family: Montserrat;
      font-size: 22px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: 0.85px;
      color: #ffffff;
    }

    &__text {
      font-family: Montserrat;
      font-size: 18px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.44;
      letter-spacing: normal;
      color: #ffffff;
    }

    &__subheader {
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.71;
      letter-spacing: 1.31px;
      color: #ffffff;
    }
  }

  &__dash {
    background: linear-gradient(to right, rgba(57, 78, 96, 0.2), #d4f0ff, rgba(57, 78, 96, 0.2));
    height: 1px;
    opacity: 0.5;
    width: 847px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

@media (max-width: 950px) {
  .bundle-included__item {
    width: auto;
  }

  .bundle-included__item__dash {
    width: auto;
  }
}

@media screen and (max-width: 486px) {
  .bundle-included__item {
    flex-direction: column;
    align-items: center;
    height: 550px;

    &__img {
      width: 100px;
      height: 130px;
    }
  }
}

@media screen and (max-width: 437px) {
  .bundle-included__item__img {
    margin-right: 0;
  }
}

@media screen and (max-width: 375px) {
  .bundle-included__item {
    height: 530px;

    &__heading {
      margin-bottom: 40px;
    }

    &__img {
      margin-bottom: 40px;
    }

    &__dash {
      margin-top: 80px;
    }
  }
}