.slider-arrow {
  width: 38px;
  height: 38px;
  background-color: white;
  border-radius: 50%;
  background: linear-gradient(#396da1, #2b5375);
  box-shadow: inset 0 0 8px 11px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  position: relative;
  cursor: pointer;

  &--border {
    background: linear-gradient(#396da1, #2b5375);
    padding: 2px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    box-shadow: 0 0 26px 0 rgba(0, 0, 0, 0.2);

    &:hover {
      box-shadow: 0 0 26px 0 #00a5ff, 0 2px 4px 0 rgba(0, 0, 0, 0.5);

      .arrow-left::after {
        content: url('../../../assets/slider/arrow-active.svg');
      }

      .arrow-right::after {
        content: url('../../../assets/slider/arrow-active.svg');
      }
    }

    &::after {
      content: '';
      position: absolute;
      width: 42px;
      height: 42px;
      background-color: rgba(0, 0, 0, 0.3);
      border-radius: 50%;
      top: 0;
      left: 0;
    }
  }
}

.position-left {
  left: -75px;
}

.position-right {
  right: -75px;
}

.arrow-left {
  &::after {
    content: url('../../../assets/slider/arrow.svg');
    height: 9px;
    width: 5px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(45%, -120%) scaleX(-1);
    z-index: 2;
  }
}

.arrow-right {
  &::after {
    content: url('../../../assets/slider/arrow.svg');
    height: 9px;
    width: 5px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-35%, -30%);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .position-left {
    left: -15px;
  }

  .position-right {
    right: -35px;
  }
}

@media screen and (max-width: 375px) {
  .slider-arrow {
    &--border {
      display: none;
    }
  }
}