.choose-hero-bundle {
  display: flex;
  margin-bottom: 100px;
  align-items: center;

  &__information {
    display: flex;
    flex-direction: column;

    &__text {
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.64;
      letter-spacing: normal;
      color: #ffffff;
      width: 336px;
    }

    &__type {
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.43;
      letter-spacing: 1.31px;
      color: #ffffff;
      text-transform: uppercase;
    }

    &__buttons {
      display: flex;
      align-items: baseline;

      &__read-more {
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.5px;
        color: #cec39d;
        text-transform: uppercase;
        margin-left: 5vw;
      }
    }

    &__heading {
      font-family: 'Montserrat', sans-serif;
      font-size: 34px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 1.7px;
      margin: 0;
      background: -webkit-linear-gradient(#fcf7e9, #b8a978);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__hero-image {
    background-image: url("../../../assets/images/tile-big.svg");
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 700px;
    height: 400px;

    img {

    }
  }

  &--reversed {
    flex-direction: row-reverse;
  }
}