.payment-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 26px;

  input[type="radio"] {
    appearance: none;
    display: inline-block;
    width: 15px;
    height: 15px;
    padding: 3px;
    background-clip: content-box;
    border: 1px solid #bbbbbb;
    border-radius: 50%;

    &:checked {
      background-color: #f5b72d;
    }
  }

  &__text {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.64;
    letter-spacing: normal;
    color: #ffffff;
    margin-left: 12px;
    flex: 1;
  }

  &__images {
    display: flex;
    justify-content: space-between;
    img {
      margin-right: 26px;
    }
  }
}

.purchase-dash {
  height: 0px;
  object-fit: contain;
  opacity: 0.5;
  border-style: solid;
  border-image-source: linear-gradient(to bottom, #08141f, #36587d);
  border-image-slice: 1;
}