.gear-list {
  background-color: black;
  position: relative;
  background-image: url('../../assets/bundle-page/carax-bg-min.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  padding-top: 160px;

  &__content {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 60px;
  }
}

@media (max-width: 1134px) {
  .gear-list {
    height: 900px;
  }
  .gear-list__content {
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
}