.other-bundles {
  background-color: black;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  height: 600px;

  &__items {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 70px;
  }
}

@media (max-width: 928px) {
  .other-bundles {
    height: auto;
  }

  .other-bundles__items {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 435px) {
  .other-bundles {
    //padding-top: 0;

    &__items {
      margin-top: 30px;
    }
  }
}

@media screen and (max-width: 375px) {
  .other-bundles {
    background-image: none !important;
  }
}