.bundles-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 390px;
  height: 376px;
  background-image: url("../../../../assets/forms/tile.svg");
  background-size: contain;
  background-repeat: no-repeat;

  &__heading {
    display: flex;
    justify-content: center;
    position: relative;

    span {
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.43;
      letter-spacing: 1.31px;
      text-align: center;
      color: #ffffff;
      position: absolute;
      top: -61px;
    }
  }

  &__images {
    display: flex;

    &__hero {
      width: 154px;
      height: 218px;
      transform: rotate(-20deg);
    }

    &__items {
      margin-left: 41px;

      img {
        width: 92px;
        height: 92px;
      }

      :nth-child(2) {
        transform: translate(25px, 0px);
      }

      :nth-child(3) {
        transform: translate(0px, 10px);
      }

      :nth-child(4) {
        transform: translate(25px, 10px);
      }
    }
  }
}