body {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1440px;
  margin: auto;
}

.heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 34px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.7px;
  text-align: center;
  margin: 0;
  background: -webkit-linear-gradient(#fcf7e9, #b8a978);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

