.choose-hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #07131E;

  &__title {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-bottom: 300px;
    align-items: center;
    width: 50%;

    &__text {
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.64;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
      margin-bottom: 40px;
      width: 651px;
    }
  }

  &__content {
    position: relative;
    top: -100px;
  }

  &__background {
    background-image: url('../../assets/bundle-page/3-heroes-bw-min.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 675px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-position: center;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .choose-hero__title__text {
    width: auto;
  }
}

@media screen and (max-width: 425px) {
  .choose-hero__background {
    background: none;
  }

  .choose-hero__title {
    width: 90%;
  }

  .choose-hero {
    height: 1600px;
  }
}